@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  user-select: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .common-padding {
    @apply sm:py-32 py-20 sm:px-10 px-5;
  }

  .g_fadeIn {
    @apply opacity-0 translate-y-[100px];
  }
}
